<h3>Edit Friend</h3>
<form (submit)="update()">
	<p>First Name: <input type="text" name="first_name" [(ngModel)]="myFriend.first_name"></p>
	<p>Last Name:<input type="text" name="last_name" [(ngModel)]="myFriend.last_name"></p>
	<p>Birthday:<input type="text" name="birthday" [(ngModel)]="myFriend.birthday"></p>
	<input type="hidden" name="id" [(ngModel)]="myFriend._id">
	<input type="submit" name="submitNew" value="Submit Friend Edits">
</form>
<a [routerLink]="['/']"><button type="button" name="back">Back</button></a>
